 .motasp{
height: 226px;

}


.add{

	width : 403px;	
}

.luu{
	text-decoration: none;
	border: 1px solid black;
	padding: 4px;
}

.luu:hover{

color: blue;
background-color: red;


}