.tille-card{
	text-align: center; 
	background-color: #0084FF;
	
}
.thongbao {
	text-align: center; 
	padding: 20px;
}
.back{
	text-align: center; 
	padding: 20px;
}
.back img{
	width: 20px;
}
.thongbao2{
	text-align: center;
}