html {
	font-family: 'Open Sans', sans-serif;
}
.item__img--image {
	width: 400px;
}
.item {
	display: flex;
}
.info {
	width: 30%;
	
	
}
/* .item__title {
} */
.info_chitiet{
width: 300px;
}
.thuonghieu__a {
	border-right: 1px solid #000;
	padding-right: 6px;
}
.gia__giasp {
	margin-bottom: 0;
	color: #f57224;
}
.gia__giacu{
	text-decoration: line-through;
}
/* .gia__phantram {

} */
/* .nutb {
	padding: 20px;
}
.nut__mua {
	color: #f57224;
}
.nut__gio {
	color: #aaa;
} */
